# Ignore all object files
*.o

# Ignore .vscode config files
/.vscode/

# Ignore build artifacts
/build/
/bin/

# Ignore folder of main codes
/mains/

# Ignore private local configuration
/cmake/local.cmake
